<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Webpage" itemscope>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="MobileOptimized" content="320">
  </head>
  <body class="app">
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <main class="container">
      <dl class="online-list">
        <div class="online-list__item" id="sum">
          <dt class="online-list__service-name online-list__service-name--sum">Sum</dt>
          <dd class="online-list__row">
            <span class="online-list__online">-</span>
          </dd>
        </div>

        <div class="online-list__item" id="twitch">
          <dt class="online-list__service-name online-list__service-name--twitch">
            Twitch<button type="button" class="online-list__delete-button" hidden>
              &times;
            </button>
          </dt>
          <dd class="online-list__row">
            <span class="online-list__online" hidden>-</span>
            <form class="online-list__channel-id-form" hidden>
              <input class="online-list__channel-id-field"
                     minlength="3"
                     maxlength="25"
                     pattern="[a-zA-Z0-9][a-zA-Z0-9_]{2,24}"
                     placeholder="Channel name. Example: tijoevideos"
                     data-channel-not-found-message="Twitch account with this username not found.">
            </form>
            <button type="button" class="online-list__auth-button" hidden>
              Authenticate
            </button>
            <div class="online-list__loading loading">
              <span>.</span><span>.</span><span>.</span>
            </div>
          </dd>
        </div>

        <div class="online-list__item" id="youtube">
          <dt class="online-list__service-name online-list__service-name--youtube">
            YouTube<button type="button" class="online-list__delete-button" hidden>
              &times;
            </button>
          </dt>
          <dd class="online-list__row">
            <span class="online-list__online" hidden>-</span>
            <form class="online-list__channel-id-form" hidden>
              <input class="online-list__channel-id-field"
                     minlength="10"
                     maxlength="12"
                     pattern="[a-zA-Z0-9_-]{10,12}"
                     placeholder="Video ID. Example: Av8XpCoF3T0"
                     data-channel-not-found-message="YouTube video with this ID not found.">
            </form>
            <button type="button" class="online-list__auth-button" hidden>
              Authenticate
            </button>
            <div class="online-list__loading loading">
              <span>.</span><span>.</span><span>.</span>
            </div>
          </dd>
        </div>
      </dl>
    </main>

    <script src="https://www.googletagmanager.com/gtag/js" async></script>
    <script src="https://mc.yandex.ru/metrika/watch.js" crossorigin="anonymous" async></script>
    <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous" async></script>
  </body>
</html>
