a, abbr, address, area, article, aside, audio, b, bdi, bdo, blockquote, body, br, button, canvas, caption, cite, code, col, colgroup, data, datalist, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, input, ins, kbd, label, legend, li, main, map, mark, meter, nav, noscript, object, ol, optgroup, option, output, p, param, picture, pre, progress, q, rp, rt, rtc, ruby, s, samp, section, select, slot, small, source, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, title, tr, track, u, ul, var, video, wbr {
  all: unset;
  display: block;
  box-sizing: border-box;
}

*[hidden] {
  display: none !important;
}

html, body {
  height: 100vh;
}

body {
  overflow: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.online-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.online-list__item {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.online-list__service-name {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}

.online-list__service-name--sum {
  padding: 1rem;
}

.online-list__service-name--twitch {
  color: #6441a5;
}

.online-list__service-name--youtube {
  color: #ff0000;
}

.online-list__online {
  text-align: center;
}

.online-list__loading {
  text-align: center;
}

.online-list__channel-id-field {
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  width: 100%;
  padding: 0.2rem;
}

.online-list__auth-button {
  background-color: darkgray;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}

.online-list__auth-button:hover,
.online-list__auth-button:focus,
.online-list__auth-button:active {
  border-color: #000;
  cursor: pointer;
}

.online-list__delete-button {
  display: inline;
  position: relative;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  margin-left: -1rem;
}

.online-list__delete-button:hover {
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  display: inline;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}
