<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Webpage" itemscope>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <meta name="MobileOptimized" content="320">
    </head>
    <body class="app">
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>

        <main class="container">
            <div id="twitch"></div>
            <div id="youtube"></div>
        </main>

        <script src="https://www.googletagmanager.com/gtag/js" async></script>
        <script src="https://mc.yandex.ru/metrika/watch.js" crossorigin="anonymous" async></script>
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous" async></script>
        <script src="https://apis.google.com/js/api.js" async></script>
    </body>
</html>
