<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Webpage" itemscope>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="MobileOptimized" content="320">

    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow">
    <meta name="google-site-verification" content="<%= process.env.GOOGLE_SITE_VERIFICATION_TOKEN %>">
    <meta name="yandex-verification" content="<%= process.env.YANDEX_SITE_VERIFICATION_TOKEN %>">
    <link rel="sitemap" href="/sitemap.xml">
    <link rel="canonical" href="https://observed.lith.pw">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Observed</title>
    <meta name="description" content="A tool to monitor your streams' viewers count from Twitch, YouTube, VK & GoodGame.">

    <!-- Schema.org markup (Google) -->
    <meta itemprop="name" content="Observed">
    <meta itemprop="description" content="A tool to monitor your streams' viewers count from Twitch, YouTube, VK & GoodGame.">
    <meta itemprop="image" content="/images/social-preview.png">

    <!-- Twitter Card markup-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ssimplix">
    <meta name="twitter:title" content="Observed">
    <meta name="twitter:description" content="A tool to monitor your streams' viewers count from Twitch, YouTube, VK & GoodGame.">
    <meta name="twitter:creator" content="@ssimplix">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="/images/social-preview.png">
    <meta name="twitter:image:alt" content="A tool to monitor your streams' viewers count from Twitch, YouTube, VK & GoodGame.">

    <!-- Open Graph markup (Facebook, Pinterest) -->
    <meta property="og:title" content="Observed">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://observed.lith.pw">
    <meta property="og:image" content="/images/social-preview.png">
    <meta property="og:description" content="A tool to monitor your streams' viewers count from Twitch, YouTube, VK & GoodGame.">
    <meta property="og:site_name" content="Observed">
  </head>
  <body class="app">
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <main class="container">
      <div class="container__fixed-with-child">
        <dl class="online-list">
          <div class="online-list__item" id="sum">
            <dt class="online-list__service-name online-list__service-name--sum">Sum</dt>
            <dd class="online-list__row">
              <span class="online-list__online">-</span>
            </dd>
          </div>

          <div class="online-list__item" id="twitch">
            <dt class="online-list__service-name online-list__service-name--twitch">
              Twitch<button type="button" class="online-list__delete-button" hidden>
                &times;
              </button>
            </dt>
            <dd class="online-list__row">
              <span class="online-list__online" hidden>-</span>
              <form class="online-list__channel-id-form" hidden>
                <input class="online-list__channel-id-field"
                       minlength="3"
                       maxlength="25"
                       pattern="[a-zA-Z0-9][a-zA-Z0-9_]{2,24}"
                       placeholder="Channel name. Example: tijoevideos"
                       data-channel-not-found-message="Twitch account with this username not found.">
              </form>
              <button type="button" class="online-list__auth-button" hidden>
                Authenticate
              </button>
              <div class="online-list__loading loading">
                <span>.</span><span>.</span><span>.</span>
              </div>
            </dd>
          </div>

          <div class="online-list__item" id="youtube">
            <dt class="online-list__service-name online-list__service-name--youtube">
              YouTube<button type="button" class="online-list__delete-button" hidden>
                &times;
              </button>
            </dt>
            <dd class="online-list__row">
              <span class="online-list__online" hidden>-</span>
              <form class="online-list__channel-id-form" hidden>
                <input class="online-list__channel-id-field"
                       minlength="10"
                       maxlength="12"
                       pattern="[a-zA-Z0-9_-]{10,12}"
                       placeholder="Video ID. Example: Av8XpCoF3T0"
                       data-channel-not-found-message="YouTube video with this ID not found.">
              </form>
              <button type="button" class="online-list__auth-button" hidden>
                Authenticate
              </button>
              <div class="online-list__loading loading">
                <span>.</span><span>.</span><span>.</span>
              </div>
            </dd>
          </div>
        </dl>
      </div>

      <div class="chart container__dynamic-with-child" id="chart"></div>
    </main>

    <script src="https://www.googletagmanager.com/gtag/js" async></script>
    <script src="https://mc.yandex.ru/metrika/watch.js" crossorigin="anonymous" async></script>
    <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous" async></script>
  </body>
</html>
